In [14]:
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go

In [3]:
df = pd.read_csv("plays_2017.csv")

In [4]:
df.head()

,defpersonnel,play_index,gsis_game_id,pff_game_id,drive,drive_play,offteam,defteam,score_differential,time_in_reg,...,def_sub,boxplayers_n,coverage_n,passrush_n,dl_dropback_n,off_sub,defsubstitutions,offsubstitutions,season,date
0,NaN,5,64686,8247,1,1,TXRI,CAST,-7,59,...,False,8,0,0,0,False,DRIVE START,DRIVE START,2017,2017-08-25
1,3-4-4,10,64686,8247,1,6,TXRI,CAST,-7,153,...,False,9,0,0,0,False,NaN,NaN,2017,2017-08-25
2,3-3-5,11,64686,8247,2,1,CAST,TXRI,7,198,...,False,7,7,4,0,False,DRIVE START,DRIVE START,2017,2017-08-25
3,4-2-5,13,66488,8604,2,3,VAUN,NCDU,7,299,...,True,7,7,4,0,True,NCDU D86; NCDU D95,VAUN 04; VAUN 16; VAUN 22,2017,2017-10-06
4,4-3-4,6,68196,9018,1,6,NEUN,IAUN,0,145,...,True,6,7,4,0,False,IAUN D53; IAUN D94,NaN,2017,2017-11-23

In [5]:
df2 =df.query("gsis_game_id == 66749")

In [6]:
df2.head()

,defpersonnel,play_index,gsis_game_id,pff_game_id,drive,drive_play,offteam,defteam,score_differential,time_in_reg,...,def_sub,boxplayers_n,coverage_n,passrush_n,dl_dropback_n,off_sub,defsubstitutions,offsubstitutions,season,date
66548,NaN,1,66749,8656,1,1,CAST,ORUN,0,8,...,False,7,0,0,0,False,DRIVE START,DRIVE START,2017,2017-10-13
66549,4-3-4,7,66749,8656,1,7,CAST,ORUN,0,140,...,True,10,0,0,0,False,ORUN D25,NaN,2017,2017-10-13
66550,4-3-4,12,66749,8656,2,1,CAST,ORUN,7,251,...,False,8,0,0,0,False,DRIVE START,DRIVE START,2017,2017-10-13
66555,4-3-4,4,66749,8656,1,4,CAST,ORUN,0,41,...,True,8,0,0,0,False,ORUN D03; ORUN D97,NaN,2017,2017-10-13
66556,3-4-4,8,66749,8656,1,1,ORUN,CAST,-7,152,...,False,7,0,0,0,False,DRIVE START,DRIVE START,2017,2017-10-13

In [11]:
cols = ['play_index','time_in_reg', 'offteam', 'defteam', 'field_position']

In [12]:
df3 = df2.loc[:, cols]

In [15]:
game = df3.sort_values('time_in_reg')

In [16]:
game.head()

       play_index  time_in_reg offteam defteam  field_position
66548           1            8    CAST    ORUN              23
66570           2            8    CAST    ORUN              18
79290           3           12    CAST    ORUN              18
66555           4           41    CAST    ORUN              52
87990           5           76    CAST    ORUN              51

In [18]:
def flip_fp(row):
    if row["defteam"]=='CAST':
        row["field_position"] = 100 - row["field_position"]
    return row

In [21]:
game2 =game.apply(flip_fp, axis=1)

In [29]:
trace0 = go.Scatter(
    x=game2['time_in_reg'],
    y=game2['field_position'],
    mode='lines',
    line=dict(width=0.5,
              color='rgb(189, 32, 49)'),
    fill='tonexty'
)
trace1 = go.Scatter(
    x=game2['time_in_reg'],
    y=[100]*len(game2['time_in_reg']),
    mode='lines',
    line=dict(width=0.5,
              color='rgb(0, 121, 53)'),
    fill='tonexty'
)

data = [trace0, trace1]
layout = go.Layout(
    showlegend=True,
    xaxis=dict(
        type='category',
        dtick=20
    ),
    yaxis=dict(
        type='linear',
        range=[1, 100],
        dtick=20
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-area-plot')