In [1]:
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go

In [3]:
df = pd.read_csv("/Users/iansmeenk/Voodoo/plays_2017.csv")

In [4]:
df.head()

,defpersonnel,play_index,gsis_game_id,pff_game_id,drive,drive_play,offteam,defteam,score_differential,time_in_reg,...,def_sub,boxplayers_n,coverage_n,passrush_n,dl_dropback_n,off_sub,defsubstitutions,offsubstitutions,season,date
0,NaN,5,64686,8247,1,1,TXRI,CAST,-7,59,...,False,8,0,0,0,False,DRIVE START,DRIVE START,2017,2017-08-25
1,3-4-4,10,64686,8247,1,6,TXRI,CAST,-7,153,...,False,9,0,0,0,False,NaN,NaN,2017,2017-08-25
2,3-3-5,11,64686,8247,2,1,CAST,TXRI,7,198,...,False,7,7,4,0,False,DRIVE START,DRIVE START,2017,2017-08-25
3,4-2-5,13,66488,8604,2,3,VAUN,NCDU,7,299,...,True,7,7,4,0,True,NCDU D86; NCDU D95,VAUN 04; VAUN 16; VAUN 22,2017,2017-10-06
4,4-3-4,6,68196,9018,1,6,NEUN,IAUN,0,145,...,True,6,7,4,0,False,IAUN D53; IAUN D94,NaN,2017,2017-11-23

In [5]:
df2 =df.query("gsis_game_id == 66749")

In [6]:
df2.head()

,defpersonnel,play_index,gsis_game_id,pff_game_id,drive,drive_play,offteam,defteam,score_differential,time_in_reg,...,def_sub,boxplayers_n,coverage_n,passrush_n,dl_dropback_n,off_sub,defsubstitutions,offsubstitutions,season,date
66548,NaN,1,66749,8656,1,1,CAST,ORUN,0,8,...,False,7,0,0,0,False,DRIVE START,DRIVE START,2017,2017-10-13
66549,4-3-4,7,66749,8656,1,7,CAST,ORUN,0,140,...,True,10,0,0,0,False,ORUN D25,NaN,2017,2017-10-13
66550,4-3-4,12,66749,8656,2,1,CAST,ORUN,7,251,...,False,8,0,0,0,False,DRIVE START,DRIVE START,2017,2017-10-13
66555,4-3-4,4,66749,8656,1,4,CAST,ORUN,0,41,...,True,8,0,0,0,False,ORUN D03; ORUN D97,NaN,2017,2017-10-13
66556,3-4-4,8,66749,8656,1,1,ORUN,CAST,-7,152,...,False,7,0,0,0,False,DRIVE START,DRIVE START,2017,2017-10-13

In [7]:
cols = ['play_index','time_in_reg', 'offteam', 'defteam', 'field_position']

In [8]:
df3 = df2.loc[:, cols]

In [9]:
game = df3.sort_values('time_in_reg')

In [10]:
game.head()

       play_index  time_in_reg offteam defteam  field_position
66548           1            8    CAST    ORUN              23
66570           2            8    CAST    ORUN              18
79290           3           12    CAST    ORUN              18
66555           4           41    CAST    ORUN              52
87990           5           76    CAST    ORUN              51

In [11]:
def flip_fp(row):
    if row["defteam"]=='CAST':
        row["field_position"] = 100 - row["field_position"]
    return row

In [12]:
game2 =game.apply(flip_fp, axis=1)

In [13]:
trace0 = go.Scatter(
    x=game2['time_in_reg'],
    y=game2['field_position'],
    mode='lines',
    line=dict(width=0.5,
              color='rgb(189, 32, 49)'),
    fill='tonexty'
)
trace1 = go.Scatter(
    x=game2['time_in_reg'],
    y=[100]*len(game2['time_in_reg']),
    mode='lines',
    line=dict(width=0.5,
              color='rgb(0, 121, 53)'),
    fill='tonexty'
)

data = [trace0, trace1]
layout = go.Layout(
    showlegend=True,
    xaxis=dict(
        type='category',
        dtick=20
    ),
    yaxis=dict(
        type='linear',
        range=[1, 100],
        dtick=20
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-area-plot')

In [14]:
game2

       play_index  time_in_reg offteam defteam  field_position
66548           1            8    CAST    ORUN              23
66570           2            8    CAST    ORUN              18
79290           3           12    CAST    ORUN              18
66555           4           41    CAST    ORUN              52
87990           5           76    CAST    ORUN              51
91952           6          109    CAST    ORUN              85
66549           7          140    CAST    ORUN              95
66556           8          152    ORUN    CAST              76
66571           9          172    ORUN    CAST              72
91961          10          201    ORUN    CAST              67
66572          11          234    ORUN    CAST              70
66550          12          251    CAST    ORUN              33
66557          13          274    ORUN    CAST              86
66589          14          274    ORUN    CAST              91
91954          15          301    ORUN    CAST              32
66573          16          338    ORUN    CAST              26
79287          17          361    ORUN    CAST              23
66558          18          368    ORUN    CAST               1
66574          19          378    CAST    ORUN              29
79291          20          415    CAST    ORUN              33
66590          21          454    CAST    ORUN              35
87992          22          488    CAST    ORUN              65
66559          23          526    CAST    ORUN              81
79292          24          571    CAST    ORUN              86
87991          25          604    CAST    ORUN              97
66575          26          646    CAST    ORUN              98
66591          27          689    CAST    ORUN              97
66576          28          698    ORUN    CAST              79
66560          29          718    ORUN    CAST              71
91970          30          726    CAST    ORUN              36
...           ...          ...     ...     ...             ...
79316         102         2763    CAST    ORUN              66
92036         103         2808    CAST    ORUN              73
88004         104         2845    CAST    ORUN              94
66629         105         2886    CAST    ORUN              96
88005         106         2926    CAST    ORUN              97
66623         107         2937    ORUN    CAST              83
66630         108         2960    ORUN    CAST              78
92025         109         2988    ORUN    CAST              77
66631         110         3007    ORUN    CAST              71
66642         111         3046    ORUN    CAST              67
79306         112         3051    ORUN    CAST              67
66660         113         3101    CAST    ORUN              42
66632         114         3131    CAST    ORUN              57
66633         115         3174    CAST    ORUN              59
79317         116         3222    CAST    ORUN              63
66634         117         3229    CAST    ORUN              63
66661         118         3268    CAST    ORUN              68
66643         119         3316    CAST    ORUN              70
79318         120         3359    CAST    ORUN              70
88006         121         3364    CAST    ORUN              85
66635         122         3408    CAST    ORUN              92
92074         123         3413    CAST    ORUN              98
66636         124         3422    ORUN    CAST              70
66662         125         3444    ORUN    CAST              62
79294         126         3463    ORUN    CAST              54
79307         127         3469    ORUN    CAST              54
79308         128         3488    ORUN    CAST              37
79319         129         3495    CAST    ORUN              40
79309         130         3534    CAST    ORUN              39
79295         131         3574    CAST    ORUN              38

[131 rows x 5 columns]

In [15]:
game2.to_csv("cast_orun.csv", index=False)